.content-wrapper {
    padding: 40px;
}

.row-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.inline-flex {
    display: inline-flex;
}

.flex-1 {
    flex: 1;
}

.flex-2 {
    flex: 2;
}

.flex-3 {
    flex: 3;
}

.font-size-sm {
    font-size: 12px;
}

.font-size-md {
    font-size: 16px;
}

.font-size-lg {
    font-size: 20px;
}

.img-size-sm {
    width: 100px;
    height: 100px;
}

.img-size-lg {
    width: 512px;
    height: 512px;
}

//overriding default z-index property for slider buttons
#slider-buttons-left,
#slider-buttons-right {
    z-index: 5 !important;
}

.primary-btn {
    background-color: var(--primary-dark);
    color: var(--primary);
    padding: 10px 20px;
    text-align: center;
    height: 40px;
    :hover {
        background-color: var(--primary);
        color: var(--primary-dark);
        border: 1px solid var(--primary-dark);
    }
}

.secondary-btn {
    background-color: var(--primary);
    color: var(--primary-dark);
    border: 1px solid var(--primary-dark);
    padding: 10px 20px;
    text-align: center;

    :hover {
        background-color: var(--primary-dark);
        color: var(--primary);
    }
}

// boostrap override for centered modals
.modal-open .modal {
    display: flex !important;
    align-items: center !important;
    .modal-dialog {
      flex-grow: 1;
    }
}