<app-carousel [images]=images></app-carousel>

<app-item-card [image]="'../../../assets/images/Capture.PNG'" [title]="'Card Title'"
  [text]="'Some quick example text to build on the card title and make up the bulk of the card\'s content.'">
</app-item-card>
<app-item-card [image]="'../../../assets/images/Capture.PNG'" [title]="'Card Title'"
  [text]="'Some quick example text to build on the card title and make up the bulk of the card\'s content.'">
</app-item-card>
<app-item-card [image]="'../../../assets/images/Capture.PNG'" [title]="'Card Title'"
  [text]="'Some quick example text to build on the card title and make up the bulk of the card\'s content.'">
</app-item-card>
