.header-container {
    height: 50px;
    background-color: var(--primary);
    position: sticky;
    top: 0;
    z-index: 16;
    padding: 20px;
    .navbar {
        &-icon {
            color: #000;
        }
        &-toggler {
            border: none;
            background: transparent !important;
            &:focus {
                outline: none;
                background: transparent !important;
            }
            .icon-bar {
                background-color: var(--text-primary);
                transform: rotate(0deg) translate(0px, 0px);
                transition: ease all .2s;
                display: block;
                width: 22px;
                height: 2px;
                border-radius: 1px;
            }
            .icon-bar + .icon-bar {
                margin-top: 5px;
            }
        }
        &-toggler[aria-expanded="false"] .top-bar {
            transform: rotate(45deg);
            transform-origin: 10% 10%;
        }
        
        &-toggler[aria-expanded="false"] .middle-bar {
            opacity: 0;
        }
        
        &-toggler[aria-expanded="false"] .bottom-bar {
            transform: rotate(-45deg);
            transform-origin: 0% 50%;
        }
        
        &-toggler[aria-expanded="true"] .top-bar {
            transform: rotate(0);
        }
        
        &-toggler[aria-expanded="true"] .middle-bar {
            opacity: 1;
        }
        
        &-toggler[aria-expanded="true"] .bottom-bar {
            transform: rotate(0);
        }

        &-nav {
            .nav-link {
                color: var(--primary-dark);
                border-radius: 1px solid;
                margin: 0 0.25em;
                padding: 1rem 0;
                &:not(.disabled) {
                    &:hover, &:focus {
                    color: var(--grey-light);
                    }
                }
            }
        }
        &-collapse {
            position: fixed;
            background: white;
            width: 0;
            top: 50px;
            left: 0;
            padding: 0 30px;
            height: 100%;
            right: 0;
            transform: translateX(-50%);
            transition: ease all 0.2s;
        }
        &-collapse.show {
            transform: translateX(0);
            width: 25%;
            z-index: 10;
        }
    }  
}

