.product {
    &-details-container {
        @media only screen and (min-width: 768px) {
            display: flex;
        }
    }
    &-image-container,
    &-info-container {
        width: 50%;
        @media only screen and (max-width: 767px) {
            width: 100%;
        }
    }
}