.show-card-details {
    position: relative;
    .card-img-top {
        opacity: 0;
    }
    .card-body {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        left: 0;
        top: 0;
        margin: auto;
    }
}
.hide-card-details {
    .card-img-top {
        opacity: 1;
    }
    .card-body {
        display: none;
    }
}