<div class="row filter-container">
    <div class="col-12 col-md-9 d-flex flex-wrap">
        <ul class="list-inline m-0">
            <li class="p-2 list-inline-item" *ngFor="let item of filterOptions">
                <button class="btn btn-light d-flex" (click)="removeItem(item)">
                    <span class="pr-3">{{item}}</span>
                    <i class="material-icons">close</i>
                </button>
            </li>
        </ul>
        <div class="p-2">
            <button *ngIf="filterOptions?.length" class="btn btn-link p-2" (click)="removeAll()">Clear all</button>
        </div>
    </div>
    <div class="col-12 col-md-3 d-flex justify-content-end">
        <button class="primary-btn" (click)="openModal(content)">Filter</button>
    </div>
</div>
<ng-template #content let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4>Filter</h4>
        <div>
            <button class="bg-transparent outline-0"><i class="material-icons" (click)="closeModal()">close</i></button>
        </div>
    </div>
    <div class="modal-body">
        <h5>Categories</h5>
        <div class="d-flex flex-wrap">
            <div class="" *ngFor="let category of categories; index as i">
                <button id="{{'category' + i}}" [ngClass]="(allFilters[i].checked) ? 'primary-btn' : 'secondary-btn'" class="p-2 m-1" (click)="filterClick(category)">{{category}}</button>
            </div>
        </div>
    </div>
    <div class="modal-footer d-flex justify-content-between">
        <button class="btn btn-light p-2 m-1" (click)="removeSelected()">Cancel</button>
        <button class="p-2 m-1" [ngClass]="(selectedOptions.length) ? 'primary-btn' : 'secondary-btn'" [disabled]="!selectedOptions.length" (click)="applySelected()">Apply</button>
    </div>
</ng-template>