.nav-pills {
    .nav-link {
        color: var(--primary-dark);
        border-bottom: 2px solid var(--grey-light);
    }

    &.active {
        color: var(--primary);
        background-color: var(--primary-dark);
    }
}