<div class="w-50 mt-4 ml-4">
  <p class="font-size-md">Osho says that laughter is "the very essence of Zen." And though the theme of this series is
    meditation—watching,
    remaining alert and aware—as the only way to truth, Osho encourages us to, "be happy and meditation will follow."
    There is a wonderful chapter on laughter, Hotei the Laughing Buddha and enlightenment: "This is the whole effort of
    all the masters: to create a sudden clash of thunder so those who are fast asleep can be awakened." "Osho could keep
    his audience in thrall, knitting prescient anecdotes culled from various sources."</p>
  <div class="row-container pr-5">
    <p class="font-size-lg">Price: ₹<strong>500.00</strong></p>
    <button class="primary-btn">Add to Cart</button>
  </div>
</div>
